.reveal section pre{
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.qrcode{
    display: block;
    opacity: 0;
    width: 200px;
    height: 200px;
    max-width: none !important;
    max-height: none !important;
    left: -50px;
    bottom: 20px;
    position: absolute;
    transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -webkit-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    transition: all 2s ease 0s;
    -moz-transition: all 2s ease 0s;
    -webkit-transition: all 2s ease 0s;
    -o-transition: all 2s ease 0s;
}

.showqr .qrcode{
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    opacity: 1;
}

.reveal section pre code{
    max-height: 600px;
}
